---
import "../styles/components/fotter.css";
---

<div class="social-links">
   
      <a href="https://github.com/Aldhair11" target="_blank" rel="noopener noreferrer" title="GitHub">
        <i class="fa fa-github"></i>
      </a>
      <a href="https://www.instagram.com/aldhair_nicolini/" target="_blank" rel="noopener noreferrer" title="Instagram">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/aldhair-lujan-nicolini-997278173/" target="_blank" rel="noopener noreferrer" title="LinkedIn">
        <i class="fa fa-linkedin"></i>
      </a>
      
</div>
<p>© 2025 Aldhair Lujan Nicolini</p>


