---
import Layout from "../../layouts/Layout.astro";
import "../../styles/pages/projects-info.css";
import EcoImage from "../../assets/ecommerce-2.png";

import { animateHeroText } from "../../scripts/animations.js";


setTimeout(() => {
  if (typeof window !== "undefined") {
    animateHeroText();
  }
}, 600);
---

<Layout>
  <section class="py-12 bg-black text-white">
    <div class="container mx-auto max-w-3xl px-6">
      
      <div class="flex justify-between items-center">
        <h1 class="text-5xl font-bold hero-text">Ecommerce</h1>
        
      </div>
      <div class="mt-6">
        <img src={EcoImage.src} alt="Ecommerce" class="rounded-lg w-full shadow-lg hero-text" />
        <a href="https://drive.google.com/file/d/1JU8ScSGn9mgVkOTpGPws3PITm-XoZNgw/view?usp=sharing" target="_blank" class="px-5 py-2 border border-gray-500 rounded-full hover:bg-gray-800 transition btn-prototipo">
            Ver Prototipo
          </a>
      </div>
      <div class="mt-10">
        <h2 class="text-2xl font-semibold hero-text">¿De qué trata?</h2>
        <p class="text-gray-400 mt-4 hero-text">
          Este es un proyecto de tienda online, donde los usuarios pueden navegar por una variedad de productos, agregarlos a su carrito y realizar compras. El sitio incluye un sistema de autenticación para que los usuarios puedan registrarse y acceder a sus cuentas. También cuenta con un panel de administración para gestionar productos, pedidos, etc.
        </p>
      </div>
      <div class="mt-10">
        <h3 class="text-lg font-semibold hero-text">Tecnologias Usadas</h3>
        <p class="text-gray-400 mt-2 hero-text">
          HTML • CSS • TypeScript • Angular • MysQL • SpringBoot • Bootstrap 
        </p>
      </div>

    </div>
  </section>
</Layout>

<script>
  import { animateHeroText } from "../../scripts/animations.js";

  document.addEventListener("DOMContentLoaded", () => {
    animateHeroText();
  });
</script>
